/*
 * Add your Stylesheet contents here
 */

.bodyMain
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height:577px;
	width:360px;
}
.tableMain
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.divMain
{
	position: absolute;
	top: 0px;
	left: 0px;
}

.trMain
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	/*height: 40px;*/
}

.tdMain, .tdMain2, .tdMain3, .tdMain4
{
	border: thin outset #999999;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 39px;
}

/* target */
.tdMain2 
{
	border-style: ridge;
	background-color: #74FCAD;
}

/* wall */
.tdMain4
{
	border-style: inset;
	background-color: #A37676;
}

