/*
 * Add your Stylesheet contents here
 */

.bodyMain
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.tableMain
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.divMain
{
	position: absolute;
	top: 0px;
	left: 0px;
}

.trMain
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 40px;
}

.tdMain, .tdMain2, .tdMain3, .tdMain4
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 39px;
	border-width: thin;
	border-color: Gray;
	border-style: inset;
}

.tdMain2
{
	background-color: Blue;
	
	margin: 10 10 10 10;
}

.tdMain3
{
	background-color: Yellow;
}

.tdMain4
{
	background-color: Gray;
}

